/* HeroesComponent's private CSS styles */
.articles {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .articles li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: auto;
    border-radius: 4px;
  }
  .articles li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .articles li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .articles li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }